{:paths ["src" "resources"]
 :deps {tick/tick {:mvn/version "0.6.2"}}
 :aliases
 {:dev
  {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}
   :extra-paths ["dev"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build
  {:extra-deps {io.github.clojure/tools.build
                {:git/tag "v0.9.4" :git/sha "76b78fe"}
                slipset/deps-deploy {:mvn/version "0.2.1"}}
   :ns-default build}

  :cider ;; Tooling dependencies
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.35.0"}
                io.github.nextjournal/clerk
                {:git/sha "90ec95dadc48a6d53e1156fc7e4fb2b6959f1c9b"}
                nrepl/nrepl {:mvn/version "1.0.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.9.0"}}
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

  :nextjournal/clerk
  {:exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["src/*"]
               :index "src/open_spaced_repetition/cljc_fsrs/core.cljc"}}}}
